@import 'variables';

@font-face {
  font-family: PublicSansBold;
  src: local('Public Sans Bold'),
       local('public sans bold'),
       local('PublicSansBold'),
       local('public-sans-bold'),
       url('#{$public-sans-font-path}_bold.#{$woff2}') format("#{$woff2}"),
       url('#{$public-sans-font-path}_bold.#{$woff}') format("#{$woff}");
}

@font-face {
  font-family: PublicSansRegular;
  src: local('Public Sans Regular'),
       local('public sans regular'),
       local('PublicSansRegular'),
       local('public-sans-regular'),
       url('#{$public-sans-font-path}_regular.#{$woff2}') format("#{$woff2}"),
       url('#{$public-sans-font-path}_regular.#{$woff}') format("#{$woff}");
}

@font-face {
  font-family: PublicSansLight;
  src: local('Public Sans Light'),
       local('public sans light'),
       local('PublicSansLight'),
       local('public-sans-light'),
       url('#{$public-sans-font-path}_light.#{$woff2}') format("#{$woff2}"),
       url('#{$public-sans-font-path}_light.#{$woff}') format("#{$woff}");
}

