@import 'variables';

.a11y {
  text-align: $centered;
  padding-block-end: 59px;
}

.a11y h1 {
  margin: 0;
  top: 30px;
  position: relative;
}

body > main > header {
  background: url(../img/bg_intro_mobile.svg);
  background-repeat: no-repeat;
  background-position-y: -120px;
  -o-background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
}


@media (min-width: $max-width-container) {
  .a11y {
    text-align: unset;
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10rem;
    padding-right: 8rem;
    padding-left: 8rem;
  }

  body > main > header {
    background: url(../img/bg_intro_desktop.svg), url(../img/image_mockups.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 592px, 753px;
    background-position-y: -220px, -100px;
    background-size: $percentage-max-width - 15, $percentage-max-width - 50;
    background-blend-mode: overlay;
  }
}

