@import 'variables';

body > header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

body > header > label {
  width: 1rem;
  height: 1rem;
  display: block;
}


body > header > p {
  margin: 0;
}

body > header > ul {
  display: none;
}


@media (min-width: $max-width-container)  {
  body > header {
    padding: 1.25rem;
  }
  body > header > .icon_menu {
    display: none;
  }
  /* Let's hide the menu icon and the profile link from the header */
  body > header > p {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  body > header > ul {
    list-style: none;
    display: block;
    padding-right: 8rem;
    padding-left: 8rem;

  }

}

