
@import 'variables';

.section_features {
  text-align: $centered;
  background-color: #F4F6F9;
}
.features_info {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none;
}
.features_info ul {
  list-style: none;
}

.features_info li {
  padding-bottom: 2rem;
  font-family: PublicSansRegular;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size + 2;
  line-height: $line-height;
  color: $slightly-darkgray;
}

.section_features > header h3 {
  font-family: PublicSansRegular;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
}

.section_features > header p {
  font-family: PublicSansLight;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
}

.video_collection,
.notification,
.brand_team,
.flag_identification,
.new_picture,
.league_champion {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  background-position: center;
}

.video_collection {
  background-image: url(../img/icon_online.svg);
}
.notification {
  background-image: url(../img/icon_budgeting.svg);
}
.brand_team {
  background-image: url(../img/icon_onboarding.svg);
}
.flag_identification {
  background-image: url(../img/icon_api.svg);
}


@media (min-width: $max-width-container) {
  .section_features {
    text-align: left;
    // color: #FFFFFF;
    max-width: $max-width-container;
    margin: $auto;
    padding-inline-end: 8rem;
    padding-inline-start: 8rem;
  }
  .section_features header {
    max-width: 540px;
  }
  .features_info {
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
  }
  .features_info ul {
    padding: 0;
  }

  .video_collection,
.notification,
.brand_team,
.flag_identification,
.new_picture,
.league_champion {
  background-position: left;
}

}
