/* Import all the css files here */
/* The font css file is here */
@font-face {
  font-family: PublicSansBold;
  src: local("Public Sans Bold"), local("public sans bold"), local("PublicSansBold"), local("public-sans-bold"), url("../fonts/public_sans_bold.woff2") format("woff2"), url("../fonts/public_sans_bold.woff") format("woff"); }

@font-face {
  font-family: PublicSansRegular;
  src: local("Public Sans Regular"), local("public sans regular"), local("PublicSansRegular"), local("public-sans-regular"), url("../fonts/public_sans_regular.woff2") format("woff2"), url("../fonts/public_sans_regular.woff") format("woff"); }

@font-face {
  font-family: PublicSansLight;
  src: local("Public Sans Light"), local("public sans light"), local("PublicSansLight"), local("public-sans-light"), url("../fonts/public_sans_light.woff2") format("woff2"), url("../fonts/public_sans_light.woff") format("woff"); }

.heading {
  font-family: PublicSansRegular;
  letter-spacing: 0.03em;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0.5px 0.5px 0.25px rgba(255, 255, 255, 0.6); }

.description {
  font-family: PublicSansRegular;
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  max-width: 453px; }

@media (min-width: 1114px) {
  .description {
    font-size: 18px;
    line-height: 26px; }
  .heading {
    font-size: 3rem;
    line-height: 48px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; } }

/* This is a link to default css */
@font-face {
  font-family: PublicSansBold;
  src: local("Public Sans Bold"), local("public sans bold"), local("PublicSansBold"), local("public-sans-bold"), url("../fonts/public_sans_bold.woff2") format("woff2"), url("../fonts/public_sans_bold.woff") format("woff"); }

@font-face {
  font-family: PublicSansRegular;
  src: local("Public Sans Regular"), local("public sans regular"), local("PublicSansRegular"), local("public-sans-regular"), url("../fonts/public_sans_regular.woff2") format("woff2"), url("../fonts/public_sans_regular.woff") format("woff"); }

@font-face {
  font-family: PublicSansLight;
  src: local("Public Sans Light"), local("public sans light"), local("PublicSansLight"), local("public-sans-light"), url("../fonts/public_sans_light.woff2") format("woff2"), url("../fonts/public_sans_light.woff") format("woff"); }

.heading {
  font-family: PublicSansRegular;
  letter-spacing: 0.03em;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0.5px 0.5px 0.25px rgba(255, 255, 255, 0.6); }

.description {
  font-family: PublicSansRegular;
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  max-width: 453px; }

@media (min-width: 1114px) {
  .description {
    font-size: 18px;
    line-height: 26px; }
  .heading {
    font-size: 3rem;
    line-height: 48px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; } }

body {
  font-family: PublicSansRegular;
  font-size: 16px;
  font-weight: normal;
  background-color: #fafafa;
  display: block;
  max-width: 100%;
  min-width: auto;
  max-height: 100%;
  min-height: auto;
  margin: 0; }

body > [type="checkbox"] {
  display: none; }

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  padding: 21px; }

.request--invite a {
  text-decoration: none;
  padding: .8rem 2rem;
  background-color: aquamarine;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  border-radius: 100px;
  color: white; }

body > main > header {
  background: url(../img/bg_intro_mobile.svg);
  background-repeat: no-repeat;
  background-position-y: -120px;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

@media (min-width: 1114px) {
  body > main > header {
    background: url(../img/bg_intro_desktop.svg), url(../img/image_mockups.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: 592px, 753px;
    background-position-y: -220px, -100px;
    background-size: 85%, 50%;
    background-blend-mode: overlay; } }

body > header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

body > header {
  background-color: white; }

body > header > label {
  width: 1rem;
  height: 1rem;
  display: block; }

body > header > p {
  margin: 0; }

body > header > ul {
  display: none; }

/* Tablet */
@media (min-width: 1114px) {
  /* Let's hide the menu icon and the profile link from the header */
  body > header > label {
    display: none; }
  body > header > p {
    padding-right: 8rem;
    padding-left: 8rem; }
  body > header > ul {
    list-style: none;
    display: block;
    padding-right: 8rem;
    padding-left: 8rem; }
  body > header {
    padding: 1.25rem; } }

/* This is a link to header css */
.a11y {
  text-align: center;
  padding-block-end: 59px; }

.a11y h1 {
  margin: 0;
  top: 30px;
  position: relative; }

.navigation {
  position: relative;
  position: relative;
  padding-block-start: 330px;
  background: url(../img/image_mockups.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -126px;
  -o-background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-blend-mode: overlay; }

@media (min-width: 1114px) {
  .a11y {
    text-align: unset;
    max-width: 1114px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10rem;
    padding-right: 8rem;
    padding-left: 8rem; }
  .navigation {
    max-width: 390px;
    padding-block-start: 133px;
    background: unset; } }

/* This is the link of bady nav */
body > nav {
  padding: 1rem;
  background-color: #f8f8f8;
  position: absolute;
  z-index: 3;
  width: 90%;
  height: auto;
  transform: translateY(-1100);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: white;
  transition: translate 0.3s; }

body > [type="checkbox"]:checked ~ nav {
  flex-basis: 100%;
  text-align: center;
  transform: translateY(2.3rem);
  display: block;
  top: 18px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  background-color: white; }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

body > nav > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../images/icons/icon_menu.svg);
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-decoration: none;
  color: #343638;
  opacity: 0.5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem; }

body > nav .active a {
  opacity: 1; }

body > nav .icon {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

#profile_link a {
  padding-left: 1rem;
  display: flex;
  flex-direction: row; }

#profile_link img {
  width: 1rem;
  height: 1rem;
  margin-inline-end: 2rem;
  vertical-align: middle;
  border-radius: 50%; }

#profile_link span {
  display: block; }

body > header > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../img/icon_menu.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  text-indent: -1339px; }

/* Tablet */
@media (min-width: 1114px) {
  body > nav {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin-right: 32rem;
    top: 18px; }
  /* Switch from column to row flex */
  body > nav > ul {
    flex-direction: row;
    position: relative; }
  body > nav > ul .icon {
    padding: 1rem .5rem;
    background-image: none;
    line-height: 1.25rem; }
  body > nav > ul a {
    padding: 0; }
  #profile_link a {
    padding: 0.875rem;
    opacity: 1; }
  #profile_link img {
    width: 2rem;
    height: 2rem;
    margin-inline-end: 0; }
  body > header > label {
    display: none; }
  #profile_link span {
    display: none; } }

@media (min-width: 1440px) {
  body > nav {
    display: flex; }
  body > nav > ul {
    display: flex; } }

/* This is a link to masthead css */
header h2 {
  position: relative;
  margin-top: 0; }

.navigation__body {
  padding-block-start: 2rem; }

.description {
  text-shadow: 0.4px 0.4px 0.25px rgba(255, 255, 255, 0.6); }

@media (min-width: 1114px) {
  .navigation__body {
    justify-content: left;
    padding-inline-start: 0; }
  .description {
    text-shadow: unset;
    margin-left: 0; } }

@font-face {
  font-family: PublicSansBold;
  src: local("Public Sans Bold"), local("public sans bold"), local("PublicSansBold"), local("public-sans-bold"), url("../fonts/public_sans_bold.woff2") format("woff2"), url("../fonts/public_sans_bold.woff") format("woff"); }

@font-face {
  font-family: PublicSansRegular;
  src: local("Public Sans Regular"), local("public sans regular"), local("PublicSansRegular"), local("public-sans-regular"), url("../fonts/public_sans_regular.woff2") format("woff2"), url("../fonts/public_sans_regular.woff") format("woff"); }

@font-face {
  font-family: PublicSansLight;
  src: local("Public Sans Light"), local("public sans light"), local("PublicSansLight"), local("public-sans-light"), url("../fonts/public_sans_light.woff2") format("woff2"), url("../fonts/public_sans_light.woff") format("woff"); }

.heading {
  font-family: PublicSansRegular;
  letter-spacing: 0.03em;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0.5px 0.5px 0.25px rgba(255, 255, 255, 0.6); }

.description {
  font-family: PublicSansRegular;
  color: #4F4F4F;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
  max-width: 453px; }

@media (min-width: 1114px) {
  .description {
    font-size: 18px;
    line-height: 26px; }
  .heading {
    font-size: 3rem;
    line-height: 48px;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; } }

.section_articles {
  padding-block-start: 50px;
  padding-block-end: 50px; }

.section_articles > article {
  display: flex;
  flex-direction: column; }

.section_articles > article > header {
  order: 3;
  margin-left: 1rem;
  margin-right: 1rem; }

.article_image {
  order: 1; }

.article_image > img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px; }

.section_articles > article {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem; }

.section_articles > article > header > h4 {
  opacity: .6;
  margin: 0; }

.section_articles > article > p {
  opacity: .5;
  order: 2;
  margin-left: 1rem;
  margin-right: 1rem; }

.article_description {
  opacity: .5;
  order: 4;
  margin-left: 1rem;
  margin-right: 1rem; }

@media (min-width: 1114px) {
  .section_articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
    background-position: calc(50% + 300px);
    max-width: 1114px;
    margin: auto;
    padding-inline-end: 8rem;
    padding-inline-start: 8rem; }
  .section_articles > article {
    grid-row: 2/2;
    background-color: white;
    border-radius: 5px; }
  .article_image img {
    width: 261px;
    height: 196px;
    display: block; }
  .section_started h3 {
    font-family: PublicSansBold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    text-transform: uppercase; }
  .section_started h4 {
    font-family: PublicSansBold;
    font-size: 28px;
    line-height: 37px;
    color: #333333; }
  .section_started p {
    font-family: PublicSansRegular;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F; }
  .section_started__learn_more a {
    text-decoration: none;
    font-family: PublicSansBold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #00ADEE; } }

.section_features {
  text-align: center;
  background-color: #F4F6F9; }

.features_info {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  list-style: none; }

.features_info ul {
  list-style: none; }

.features_info li {
  padding-bottom: 2rem;
  font-family: PublicSansRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4F4F4F; }

.section_features > header h3 {
  font-family: PublicSansRegular;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px; }

.section_features > header p {
  font-family: PublicSansLight;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal; }

.video_collection,
.notification,
.brand_team,
.flag_identification,
.new_picture,
.league_champion {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  background-position: center; }

.video_collection {
  background-image: url(../img/icon_online.svg); }

.notification {
  background-image: url(../img/icon_budgeting.svg); }

.brand_team {
  background-image: url(../img/icon_onboarding.svg); }

.flag_identification {
  background-image: url(../img/icon_api.svg); }

@media (min-width: 1114px) {
  .section_features {
    text-align: left;
    max-width: 1114px;
    margin: auto;
    padding-inline-end: 8rem;
    padding-inline-start: 8rem; }
  .section_features header {
    max-width: 540px; }
  .features_info {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem; }
  .features_info ul {
    padding: 0; }
  .video_collection,
  .notification,
  .brand_team,
  .flag_identification,
  .new_picture,
  .league_champion {
    background-position: left; } }

footer {
  background-color: #2d314d;
  padding: 21px; }

footer h2 {
  background-image: url(../img/logo_sports_white.svg);
  display: block;
  text-indent: -999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 84px; }

footer ul {
  margin: 0;
  list-style: none;
  padding: 0; }

.icons {
  display: flex;
  flex-direction: row; }

.twitter,
.facebook,
.instagram {
  display: block;
  text-indent: -999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: auto;
  width: 25px;
  height: 25px; }

.twitter {
  background-image: url(../img/icon_twitter.svg); }

.facebook {
  background-image: url(../img/icon_facebook.svg);
  margin-inline-start: 1rem; }

.instagram {
  background-image: url(../img/icon_instagram.svg);
  margin-inline-start: 1rem; }

.accessibitity {
  display: flex;
  padding-block-start: 34px;
  padding-block-end: 34px; }

.accessibitity > li a {
  text-decoration: none;
  font-family: myLatoBold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF; }

.accessibitity > li {
  margin-right: 2rem; }

@media (min-width: 1114px) {
  footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 50px;
    padding-block-end: 50px; }
  footer {
    max-width: 1114px;
    margin: auto;
    padding-inline-end: 8rem;
    padding-inline-start: 8rem; }
  .accessibitity {
    padding-block-start: 0;
    padding-block-end: 0; }
  footer h2 {
    margin: 0; }
  .icons {
    order: 3; } }
